@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  background: #C9D2D9;
}
span{
  color: #679436;
}
.btn{
  background: #679436;
  width: 200px;
  margin-top: 30px;
}
#show-balance{
  display: none;
}